@use '@styles/abstracts/_colors.scss';
img {
    max-width: 100%;
}

.mag-div {
    padding: 0.5rem;
}
.box{
    
    width:100%;
    padding: 0.5rem;
    clear: left;
}

.grid {
    
    text-align:start;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: auto;
    width: 100%;
    min-height: 100%; // changed from 100vh to 100%; to cater's App component parent's size
    // that is set to 100vh
  
    background-color: colors.$dirty-white;
   
   
    @media screen and (max-width: 1000px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        width: fit-content;
        .image {
            width: 350px;
            float: none;
        }

        .third p {
            text-align: left;
        }

        .box {
            border: none;
        }
        
    } 
    
    
}



#main-title {
    font-size: 4rem;
    width: 100%;
    height: 300px;
    background-image: url(/images/photo_one.jpg);
    background-size: cover;
    background-position: center;
  
    
    
}


.one {
       
   grid-row: 1/3;
   border-right: 2px dotted black;
   border-bottom: 2px dotted black;
 
}



.two {
    margin-left:  0.5rem;
 
}

.fourth {
    
    border-left: 2px dotted black;
}
.box-4 {
    border-bottom: 2px dotted black;
}
.box-6{
    
    border-top: 2px dotted black;
}
.image-two {
   
    width: 200px;
    float: left;
  
    
}

.image-three {
    width: calc(100% -  50px);
}

.image-fourth {
    width: 200px;
    float:left;
}
.image-sixth {
  float: left;
  width: calc(100% -  200px);
}

.image-seventh {
    width: calc(100% -  100px);
    float: left;
}

.image-eight {
    width: calc(100% - 200px);
    
}
