@use '@styles/abstracts/_colors.scss';

.main-header {
    background-color: colors.$dirty-white;
    border-radius: 12px;
    box-shadow: 4px 8px 4px;
    position: sticky;
   
}



/* .header-border {
    rotate:(-2deg);
    transform: translate(0,25px);
    position: absolute;
    display: inline-block;
    width: 300px;
    border-bottom: 4px solid colors.$light-coffee;
  
} */

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.nav-links {
    display: flex;
    font-weight: bolder;
   align-items: center;
   

}

.links {
   margin-left: 0.5rem;
   margin-right: 0.5rem;
   font-size:  18px;
   
 
}


.nav-btn {
    width: 70px;
    margin-right: 5px;
    padding: 5px;
    background-color: colors.$light-beige;
    border-radius: 8px;
    font-weight: bolder;
    margin-bottom: 4px;
    cursor: pointer;
}