// This is a partial file

//Coffee-Wood-Theme
$dirty-white: #F6F5F2;
$light-beige: #F0EBE3;
$medium-beige: #FFDBB5;
$light-coffee: #6C4E31;
$dark-coffee: #603F26;





$dark-900: #0f0f0f;

// CSS variables for creating light and dark theme 
// Easy override of values.
