
.post {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, minmax(0, auto));
    grid-template-rows: auto;
    grid-template-areas: 
      "post-title post-title"
     "description description";
     width: 650px;
}

.post-title {
    grid-area: post-title;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.description {
    grid-area: description;
}

.post-image {
    max-width: 100%;
}

.post-figure {
     width: 350px;
}

// Posts
.Posts {
    display: flex;
    flex-direction: column;


}

//Main Post

.main-article {
    border: 2px solid burlywood;
    min-height: 100vh;
    
}

.sticky {
    position: sticky;
    top:0;
}

.scroll {
    width: 100%;
    overflow-y: scroll;
    min-height: 100vh;
}

.story-page {
    height: 100vh;
    overflow: hidden;
}